<mc-layout>
    <mc-header>Header</mc-header>
    <mc-content>Content</mc-content>
    <mc-footer>Footer</mc-footer>
</mc-layout>
<mc-layout>
    <mc-header>Header</mc-header>
    <mc-layout>
        <mc-sidebar>Sidebar</mc-sidebar>
        <mc-content>Content</mc-content>
    </mc-layout>
    <mc-footer>Footer</mc-footer>
</mc-layout>
<mc-layout>
    <mc-header>Header</mc-header>
    <mc-layout>
        <mc-content>Content</mc-content>
        <mc-sidebar>Sidebar</mc-sidebar>
    </mc-layout>
    <mc-footer>Footer</mc-footer>
</mc-layout>
<mc-layout>
    <mc-sidebar>Sidebar</mc-sidebar>
    <mc-layout>
        <mc-header>Header</mc-header>
        <mc-content>Content</mc-content>
        <mc-footer>Footer</mc-footer>
    </mc-layout>
</mc-layout>
<mc-layout>
    <mc-sidebar>Sidebar</mc-sidebar>
    <mc-layout>
        <mc-header>Header</mc-header>
        <mc-content>Content</mc-content>
        <mc-footer>Footer</mc-footer>
    </mc-layout>
    <mc-sidebar>Sidebar</mc-sidebar>
</mc-layout>
